<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog-list">Blog Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Post Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Contact Us</a>
          </li>
          <li class="nav-item" *ngIf="!checkLogin">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="checkLogin" >
            <a [matMenuTriggerFor]="menu" class="nav-link">{{nameLogin}}</a>
            <mat-menu #menu="matMenu">
              <a mat-menu-item routerLink="/user" *ngIf="roleLogin == 'USER'">Your Post</a>
              <a mat-menu-item routerLink="/profile" *ngIf="roleLogin == 'USER'">Profile</a>
              <a mat-menu-item routerLink="/admin" *ngIf="roleLogin == 'ADMIN'">Management</a>
              <a mat-menu-item  class="nav-link" (click)="logout()">Logout</a>
            </mat-menu>
          </li>

        </ul>
      </div>
    </div>
  </nav>

