
<div class="container">
  <div class="row">
    <form [formGroup]="formChangeAvatar" >
      <h4>Choose avatar</h4>
      <input type="file"
             id="file"
             #userPhoto
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
      <img [src]="fb" alt="Chưa chọn ảnh" style="width: 100px; height: 100px; border-radius: 100%">
      <br>
      <button type="submit" (click)="changeAvatar()">Submit</button>

    </form>
  </div>
</div>
